@{

}
@{
    ViewBag.Title = "ChangePassword";

    var IsFirstTimeLogin = "N";
    var PassWord = "";
    var UserName = "";
    var LogTransId = "";

    if (!string.IsNullOrEmpty(ViewBag.PassWord))
    {
        PassWord = ViewBag.PassWord;

    }
    if (!string.IsNullOrEmpty(ViewBag.UserName))
    {
        UserName = ViewBag.UserName;

    }
    if (!string.IsNullOrEmpty(ViewBag.LogTransId))
    {
        LogTransId = ViewBag.LogTransId;

    }
}


@section scripts{
    <script src="~/Scripts/Lib/angular.min.js"></script>
}


<div class="row">
    <div class="page-header">
        <h1 class="page-title">&nbsp;</h1>

    </div>
</div>

<div class="row">

    <div class="col-md-6 col-md-push-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>

            <div class="panel-body">
                <form name="resetForm" ng-app="myApp" ng-controller="forgotPasswordController" class="form-horizontal" novalidate>
                    <div id="ChangePassword">
                        <div class="form-wizard" style="color: #fff;">
                            <div class="controls form-group">
                                <div class="controls">
                                    <label class="control-label col-md-5" for="inputPassword">User Name :</label>
                                    <label class="control-label displaytxt" id="logTransId" style="display: none;">@ViewBag.LogTransId</label>
                                    <label class="control-label displaytxt" id="loginsignin" style="display: none;">@ViewBag.signin</label>
                                    <label class="control-label displaytxt" id="loggedApplication" style="display: none;">@ViewBag.LoggedApplication</label>
                                    <label class="control-label displaytxt" id="UAMApi" style="display: none;">@ViewBag.UAMApi</label>
                                    <label class="control-label displaytxt" id="RedirectApplicationUrl" style="display: none;">@ViewBag.RedirectApplicationUrl</label>

                                    <label class="control-label displaytxt" id="loginusername" style="padding-left: 15px;padding-right: 15px; color: #0f94ff;">@ViewBag.UserName</label>
                                    <input class="immediate-help form-control" style="display: none;" id="loginpassword" disabled type="password" value=@ViewBag.PassWord">
                                </div>
                            </div>
                            <div class="controls form-group">
                                <label class="control-label col-md-5" for="inputPassword">New Password:</label>
                                <div class="col-md-6" ng-class="{ 'has-error' : resetForm.newPassword.$invalid && !resetForm.newPassword.$pristine }">
                                    <input style="width: 100%" ng-minlength="8" required ng-model="newPassword" autocomplete="off" class="form-control" type="password" name="newPassword" id="newPassword" placeholder="New Password" oncopy="return false" onpaste="return false" oncut="return false">
                                    <span ng-show="!resetForm.newPassword.$pristine && resetForm.newPassword.$error.required">New Password is required.</span>
                                    <div ng-if="resetForm.newPassword.$error.minlength"> <span style="color: red" class="help-block">Password is too short.</span></div>
                                </div>
                            </div>



                            <div class="controls form-group">
                                <label class="control-label col-md-5" for="inputPassword">Confirm Password:</label>
                                <div class="col-md-6" ng-class="{ 'has-error' : resetForm.confirmPassword.$invalid && !resetForm.confirmPassword.$pristine }">
                                    <input class="immediate-help form-control" name="confirmPassword" ng-maxlength="25" autocomplete="off" required ng-model="ConfirmPassword" style="width: 100%" type="password" placeholder="Confirm Password" oncopy="return false" onpaste="return false" oncut="return false">
                                    <div ng-if="!resetForm.confirmPassword.$pristine && resetForm.confirmPassword.$error.required"> <span style="color: red">Confirm Password is required.</span></div>
                                    <div ng-if="(newPassword !==ConfirmPassword) && ConfirmPassword.length >0">
                                        <span style="color: red" class="help-block">Password Do not Match.</span>
                                    </div>
                                    <div ng-if="newPassword === PrevPwdCheck && ConfirmPassword === PrevPwdCheck && ConfirmPassword.length >0" >
                                        <span id="errorMsg" style="color: red" ng-bind="errorMessage" class="help-block"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group btns-group" style="text-align: center;">
                                <button type="submit" ng-disabled="resetForm.$invalid || newPassword !==ConfirmPassword" ng-click="saveForgotPassword()" class="btn btn-success">Submit</button>
                            </div>




                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>