
<h2>Sesssion Expired</h2>  

       
<div  ng-app="myApp" ng-controller="sessionExpiredController" >
    <label class="control-label displaytxt" id="loggedApplication" style="display:none;">@ViewBag.LoggedApplication</label>

<label class="control-label displaytxt" id="CargoAngularUrl" style="display:none;">@ViewBag.CargoAngularUrl</label>
<label class="control-label displaytxt" id="BagManagementAngularUrl" style="display:none;">@ViewBag.BagManagementAngularUrl</label>
<label class="control-label displaytxt" id="ImportWebAppAngularUrl" style="display:none;">@ViewBag.ImportWebAppAngularUrl</label>
<label class="control-label displaytxt" id="MasterDataAngularUrl" style="display:none;">@ViewBag.MasterDataAngularUrl</label>
    <label class="control-label displaytxt" id="BillingAngularUrl" style="display:none;">@ViewBag.BillingAngularUrl</label>
    <button type="submit" ng-click="backToLogin()" class="btn  .btn-link">Back To Login</button>

    </div>











