@using PortKonnect.UserAccessManagement.UI;
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
    <title>Cargo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">

     <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" />
     <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
     <link href="~/Content/Styles/uniform.default.css" rel="stylesheet" />
     <link href="~/Content/Styles/datepicker.css" rel="stylesheet" />
     <link href="~/Content/Styles/style-metronic.css" rel="stylesheet" />
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    <link href="~/Content/Styles/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/Styles/grid-style.css" rel="stylesheet" />
    <link href="~/Content/Styles/plugins.css" rel="stylesheet" />
    <link href="~/Content/Styles/custom.css" rel="stylesheet" />
    <link href="~/Content/Styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/default.css" rel="stylesheet" />
    <link href="~/Content/Styles/toastr.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.ui.chatbox.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.confirm.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="~/Content/Styles/login-soft.css" rel="stylesheet" />
    <link href="~/Content/Styles/byrei-dyndiv_0.5.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Content/Styles/font-awesome-animation.min.css">*@

     <script src="~/Scripts/Lib/jquery-2.0.3.min.js"></script>  
      <script src="~/Scripts/Lib/jquery-ui.js"></script>
       <script src="~/Scripts/Lib/jquery-migrate-1.2.1.min.js"></script>
       <script src="~/Scripts/Lib/bootstrap.min.js"></script>
       <script src="~/Scripts/Lib/jquery.slimscroll.min.js"></script>
       <script src="~/Scripts/Lib/jquery.cokie.min.js"></script>
       <script src="~/Scripts/Lib/jquery.validate.min.js"></script>
       <script src="~/Scripts/Lib/jquery.bootstrap.wizard.min.js"></script>
       <script src="~/Scripts/Lib/spinner.min.js"></script>
       <script src="~/Scripts/Lib/bootstrap-datepicker.js"></script>
       <script src="~/Scripts/Lib/jquery.dataTables.js"></script>
       <script src="~/Scripts/Lib/DT_bootstrap.js"></script>
       <script src="~/Scripts/Lib/bootstrap-maxlength.min.js"></script>
       <script src="~/Scripts/Lib/bootstrap.touchspin.js"></script>
       <script src="~/Scripts/Lib/select2.min.js"></script>
       <script src="~/Scripts/Lib/app.js"></script>
       <script src="~/Scripts/Lib/form-validation.js"></script>
       <script src="~/Scripts/Lib/form-wizard.js"></script>
       <script src="~/Scripts/Lib/form-components.js"></script>
       <script src="~/Scripts/Lib/grid-script.js"></script>   
       <script src="~/Scripts/Lib/kendo.web.min.js"></script>

      <script src="~/Scripts/Lib/jquery.backstretch.min.js"></script>
       <script src="~/Scripts/Lib/kendo.all.min.js"></script>
       <script src="~/Scripts/Lib/kendo.sortable.min.js"></script>
       <script src="~/Scripts/Lib/toastr.js"></script>
       <script src="~/Scripts/Lib/moment.js"></script>
       <script src="~/Scripts/Lib/moment-range.min.js"></script>
       <script src="~/Scripts/Lib/moment-range.js"></script>
       <script src="~/Scripts/Lib/moment-range.bare.min.js"></script>    
       <script src="~/Scripts/Lib/moment-range.bare.js"></script>       

    <script src="~/Scripts/Lib/jquery.confirm.js"></script>
    <script src="~/Scripts/Lib/knockout-3.0.0.debug.js"></script>      
    <script src="~/Scripts/Lib/knockout-sortable.min.js"></script>          
    <script src="~/Scripts/Lib/knockout.validation.js"></script>  
     <script src="~/Scripts/Lib/knockout.mapping-latest.js"></script>      
     <script src="~/Scripts/Lib/knockout-kendo.min.js"></script>  
    
                   
                <script src="~/Scripts/Lib/twitter-bootstrap-hover-dropdown.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.slimscroll.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.blockui.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.cokie.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.uniform.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.validate.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.backstretch.min.js"></script>  
                <script src="~/Scripts/Lib/jquery.bootstrap.wizard.min.js"></script>  
                <script src="~/Scripts/Lib/spinner.min.js"></script>  
                <script src="~/Scripts/Lib/bootstrap-datepicker.js"></script>  
                <script src="~/Scripts/Lib/jquery.dataTables.js"></script>  
                <script src="~/Scripts/Lib/DT_bootstrap.js"></script>  
                <script src="~/Scripts/Lib/bootstrap-maxlength.min.js"></script>  
                <script src="~/Scripts/Lib/bootstrap.touchspin.js"></script>  
                <script src="~/Scripts/Lib/select2.min.js"></script>  
                <script src="~/Scripts/Lib/app.js"></script>  
                <script src="~/Scripts/Lib/form-validation.js"></script>  
                <script src="~/Scripts/Lib/form-wizard.js"></script>  
                <script src="~/Scripts/Lib/form-components.js"></script>  
                <script src="~/Scripts/Lib/login-soft.js"></script>  
                <script src="~/Scripts/Lib/newsTicker.js"></script>  
                <script src="~/Scripts/Lib/toastr.js"></script>  

    <script src="~/Scripts/Application/CustomisedControls.js"></script>

           <script src="~/Scripts/Application/eGateRoot.js"></script>

    



    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")"/>  


<style>
        .validationMessage {
            background: none repeat scroll 0% 0% #D45252;
            border-radius: 3px;
            color: #FFF;
            margin: -5px 0px 0px;
            font-size: 10px;
            padding: 0px 6px;
            z-index: 999;
            position: absolute;
        }

        .validationError {
            background: #d45252;
            border-radius: 3px 3px 3px 3px;
            color: white;
            margin: -5px 0 0 0px;
            font-size: 10px;
            padding: 0px 6px;
            z-index: 999;
            position: absolute;
            white-space: nowrap;
            left: auto;
        }

        .inputError {
            border: 1px solid #B94A48 !important;
            border-color: #B94A48;
        }

        .newsCss {
            height: auto;
            border: 0px solid #c3501d;
        }

        .rem {
            display: inline;
        }

        .shead {
            background-color: #35aa47;
            color: #000; /*text-align:center; */
            min-width: 150px;
            text-indent: 5px;
            padding: 3px;
            margin-bottom: 5px;
            display: block;
        }

        #newsData {
            width: 100%;
            display: inline-block;
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .l {
            border: 0;
            float: right;
        }

        .r { /*margin-right:-21px;*/
            border: 0;
            float: right;
        }

        .navbar-fixed-top, .navbar-fixed-bottom {
            position: relative;
            right: 0;
            left: 0;
            z-index: 1030;
        }

        .portlet > .portlet-title > .tools > a.expand {
            margin-bottom: 2px;
            background-image: url(/Content/Images/portlet-collapse-icon-white.png) !important;
            width: 14px;
            text-decoration: none !important;
        }

        .portlet > .portlet-title > .tools > a.collapse {
            margin-bottom: 2px;
            background-image: url(/Content/Images/portlet-expand-icon-white.png) !important;
            width: 14px;
            text-decoration: none !important;
        }

        .uselinkbg {
            background-color: #ace33c;
            border: 0px solid #f00;
        }

        .caption {
            margin-left: -200px;
            color: #fff;
            font-size: 14px;
        }

        .portlet.box.green {
            border: 1px solid #35A446;
            border-top: 0;
            border-radius: 3px!important;
        }

            .portlet.box.green > .portlet-title {
                background-color: rgba(53, 170, 71, 0);
                padding: 7px;
            }

        .portlet > .portlet-title {
            margin-bottom: 15px;
            border-bottom: 0px solid #eee;
        }

        .portlet-body {
            background-color: #fff !important;
        }

        .usereq div > a {
            padding: 6px 0 6px 13px;
            color: #333;
            text-decoration: none;
            display: block;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            white-space: nowrap;
            font-size: 13px;
        }

            .usereq div > a:hover,
            .usereq .active > a,
            .usereq div .active > a:hover {
                text-decoration: none;
                background-image: none;
                background-color: #eee;
                color: #333;
                filter: none;
            }

        .bfont {
            font-size: 13px !important;
        }

        .dropdown-menu {
            width: 238px !important;
        }

        .header .navbar-nav > li.dropdown .dropdown-toggle {
            margin: 3px;
        }
        .dropdown-links {display:inline; padding:0px !important; border:0px !important; font-size: 14px;color: #032f52;text-decoration: underline;
        }

        .dropdown-menu.extended li:last-child a {border:0px !important; padding:0px !important; display:inline !important; font-size: 12px;color: #0044cc;text-decoration: none; 
        }
        .dropdown-menu.extended li a:hover {font-weight:bold; text-decoration:underline; background-color:#fff;
        }
        .btn {box-shadow: 1px 1px 1px #001528 !important;
        }
    </style>


</head>
<body id="classadd" class="page-header-fixed page-footer-fixed page-sidebar-fixed">


    <section class="content-wrapper main-content clear-fix">  
        
                @RenderBody()        
    </section>

    @RenderSection("JavaScript", required: false)
    @RenderSection("scripts", required: false)
    <script>   
    	eGateRoot.rootPath = '@Url.Content("~")';
    	var application = {viewbag : @Helpers.ToJson(Html, ViewBag)};
 	
    	jQuery(document).ready(function () {
    		App.init();
									@RenderSection("ko_apply", required: false);
    	});
    	


    </script>
  
</body>

</html>
