@using PortKonnect.UserAccessManagement.WebApp
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>e-Xpressway</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Lib/knockout-3.4.0.js"></script>
    <script src="~/Scripts/Lib/knockout.validation.js"></script>
    <script src="~/Scripts/Lib/angular.min.js"></script>


    <script src="~/Scripts/Lib/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/Lib/jquery-ui.js"></script>
    <script src="~/Scripts/Lib/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/Lib/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Lib/jquery.cokie.min.js"></script>
    <script src="~/Scripts/Lib/jquery.validate.min.js"></script>
    <script src="~/Scripts/Lib/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Scripts/Lib/jquery.dataTables.js"></script>
    <script src="~/Scripts/Lib/jquery.confirm.js"></script>
    <script src="~/Scripts/Lib/jquery.min.js"></script>
    <script src="~/Scripts/Lib/jquery.blockui.min.js"></script>
    <script src="~/Scripts/Lib/jquery.uniform.min.js"></script>
    <script src="~/Scripts/Lib/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/Lib/kendo.all.min.js"></script>
    <script src="~/Scripts/Lib/knockout-kendo.min.js"></script>
    <script src="~/Scripts/Lib/kendo.web.min.js"></script>
    <script src="~/Scripts/Lib/kendo.sortable.min.js"></script>
    <script src="~/Scripts/Lib/kendo.mobile.min.js"></script>
    <script src="~/Scripts/Lib/knockout-3.4.0.js"></script>
    <script src="~/Scripts/Lib/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/Lib/knockout-sortable.min.js"></script>
    <script src="~/Scripts/Lib/knockout.validation.js"></script>
    <script src="~/Scripts/Lib/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Lib/bootstrap.min.js"></script>
    <script src="~/Scripts/Lib/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Lib/bootstrap-maxlength.min.js"></script>
    <script src="~/Scripts/Lib/bootstrap.touchspin.js"></script>
    <script src="~/Scripts/Lib/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="~/Scripts/Lib/moment.js"></script>
    <script src="~/Scripts/Lib/spinner.min.js"></script>
    <script src="~/Scripts/Lib/select2.min.js"></script>
    <script src="~/Scripts/Lib/form-validation.js"></script>
    <script src="~/Scripts/Lib/form-wizard.js"></script>
    <script src="~/Scripts/Lib/form-components.js"></script>
    <script src="~/Scripts/Lib/grid-script.js"></script>
    <script src="~/Scripts/Lib/newsTicker.js"></script>
    <script src="~/Scripts/Lib/toastr.js"></script>
    <script src="~/Scripts/Lib/byrei-dyndiv_1.0rc1-src.js"></script>
    <script src="~/Scripts/Lib/login-soft.js"></script>
    <script src="~/Scripts/Lib/Globalize.min.js"></script>
    <script src="~/Scripts/Lib/app.js"></script>
    <script src="~/Scripts/menu.js"></script>

    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Styles/uniform.default.css" rel="stylesheet" />
    <link href="~/Content/Styles/style-metronic.css" rel="stylesheet" />
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    <link href="~/Content/Styles/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/Styles/grid-style.css" rel="stylesheet" />
    <link href="~/Content/Styles/plugins.css" rel="stylesheet" />
    <link href="~/Content/Styles/custom.css" rel="stylesheet" />
    <link href="~/Content/Styles/plugins.css" rel="stylesheet" />
    <link href="~/Content/Styles/default.css" rel="stylesheet" />
    <link href="~/Content/Styles/toastr.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.ui.chatbox.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.confirm.css" rel="stylesheet" />
    <link href="~/Content/Styles/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="~/Content/Styles/byrei-dyndiv_0.5.css" rel="stylesheet" />

    <script src="~/Scripts/Application/eGateRoot.js"></script>


    <link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")"/>
    <style type="text/css">
        /*Below code is already exist in toastr. but that is not working after Hosting of application, hence 

loading css has been placed here */
        .loading-content {
            height: 100px;
            width: 400px;
            background: #aaa;
            padding: 5px;
        }

        .loading-loader {
            background-image: url(/Content/Images/gif-load.gif);
            height: 80px;
            width: 80px;
            z-index: 3;
        }

        .page-content {
            margin-left: 0px;
        }
    </style>
</head>
<body id="classadd" class="page-header-fixed page-footer-fixed page-sidebar-fixed">



    <!-- END _eGateLeftNav.cshtml -->
    <div class="page-content-wrapper ">
        <div id="divPageContent" class="page-content">
            @RenderBody()
        </div>
    </div>
    </section>


    @RenderSection("JavaScript", required: false)
    @RenderSection("scripts", required: false)
    <script>
        eGateRoot.rootPath = '@Url.Content("~")';
        var application = {viewbag : @Helpers.ToJson(Html, ViewBag)};
        var isAuthenticated = "@(Request.IsAuthenticated)";
        jQuery(document).ready(function () {
            App.init();
            @RenderSection("ko_apply", required: false);
        });
        $(function () {
            var vm1 = new eGateRoot.ModuleViewModel();
            ko.applyBindingsWithValidation(vm1, $("#Menu")[0], { insertMessages: false, messagesOnModified: false, 

                grouping: { deep: true } });            
           
            var strHash = document.location.pathname;

          
                if (strHash != "/Account/ChangePassword/Y" && strHash != "/MyProfile") {
                    jQuery("a[href='" + strHash + "']").parent().addClass("active");
                    jQuery("a[href='" + strHash + "']").parent().parent().parent().addClass("active");
                    jQuery("a[href='" + strHash + "']").parent().parent().parent().children('a').children('span.arrow').addClass('open');
                    jQuery("a[href='" + strHash + "']").parent().parent().parent().parent().parent().addClass("active");
                    jQuery("a[href='" + strHash + "']").parent().parent().parent().parent().parent().children('a').children('span.arrow').addClass("open");
                }
           
        });
    </script>

    @{

            

           
        Html.RenderPartial(Url.Content("~/Views/Shared/_eGateFooter.cshtml"));

    }
</body>
</html>

